<div class="container">
	<div class="page-header">
		<ul class="nav nav-tabs">
			<%= content_tag :li, link_to('Locations', locations_path), class: ( params[:controller] == 'locations' ? 'active' : nil ) %>
			<%= content_tag :li, link_to('Amenities', amenities_path), class: ( params[:controller] == 'amenities' ? 'active' : nil ) %>
		</ul>
	</div>
</div>
